body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-logo {
  float: right;
  font-weight: bold;
  font-size: 18px;
}

.section-title {
  text-align: center;
}

.step-title {
  font-weight: bold;
}

.section-text {
  text-align: center;
  margin-bottom: 16px;
}
.list-content {
  font-size: 1.5em;
}
.large-text {
  font-size: 1.5em;
}
.large-text li {
  font-size: 1.5em;
}
/* ... (Keep the existing styles) */

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 1.5em;
  }

  .large-text {
    font-size: 1.2em;
  }

  .large-text li {
    font-size: 1.2em;
  }

  .list-content {
    font-size: 1.2em;
  }
}